<ion-header>
  <ion-toolbar>
    <ion-title>Certificações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="certificate-content">
	<h4>Próximas certificações</h4>
	<div class='item'>
  	<div class='icon'>
  		<ion-icon name="calendar"></ion-icon><br>
  		<span>
  			06/04/19 <br>
	  		23:44
  		</span>
  	</div>
  	<span class="vertical-hr"></span>
  	<div class='content'>
			<strong>Certificação OEA</strong>
    	<br><span>Aprenda os procedimentos para utilizar um...</span>
  	</div>
  </div>

  <h4>Certificações concluidas</h4>
	<div class='item past-certificate'>
  	<div class='icon'>
  		<ion-icon name="school"></ion-icon><br>
  		<span>
  			02/04/19
  		</span>
  	</div>
  	<span class="vertical-hr"></span>
  	<div class='content'>
			<strong>Certificação OHASS</strong>
    	<br><span>Aprenda os procedimentos para utilizar um...</span>
  	</div>
  </div>
 	<hr>
 	<div class='item past-certificate'>
  	<div class='icon'>
  		<ion-icon name="school"></ion-icon><br>
  		<span>
  			02/04/19
  		</span>
  	</div>
  	<span class="vertical-hr"></span>
  	<div class='content'>
			<strong>Certificação OHASS</strong>
    	<br><span>Aprenda os procedimentos para utilizar um...</span>
  	</div>
  </div>
  <hr>
  <div class='item past-certificate'>
  	<div class='icon'>
  		<ion-icon name="school"></ion-icon><br>
  		<span>
  			02/04/19
  		</span>
  	</div>
  	<span class="vertical-hr"></span>
  	<div class='content'>
			<strong>Certificação OHASS</strong>
    	<br><span>Aprenda os procedimentos para utilizar um...</span>
  	</div>
  </div>
</ion-content>
