<!--
  Generated template for the TrainingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-round-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Treinamentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="training-content">
	<h4>Disponíveis</h4>
	<div class='item'>
  	<div class='icon'>
  		<ion-icon name="calendar"></ion-icon><br>
  		<span>
  			06/04/19 <br>
	  		100 pontos
  		</span>
  	</div>
  	<span class="vertical-hr"></span>
  	<div class='content'>
			<strong>Treinamento primeiros socorros</strong>
    	<br><span>Aprenda os procedimentos para utilizar um extintor e realizar primeiros socorros</span>
    	<br><ion-button expand="block" fill="outline" color="dark">Participar</ion-button>
  	</div>
  </div>
  <hr>
  <div class='item'>
  	<div class='icon'>
  		<ion-icon name="calendar"></ion-icon><br>
  		<span>
  			05/04/19 <br>
	  		100 pontos
  		</span>
  	</div>
  	<span class="vertical-hr"></span>
  	<div class='content'>
			<strong>Treinamento primeiros socorros</strong>
    	<br><span>Aprenda os procedimentos para utilizar um extintor e realizar primeiros socorros</span>
    	<br><ion-button expand="block" fill="outline" color="dark" [disabled]="true">Inscritos</ion-button>

  	</div>
  </div>

  <h4>Treinamentos concluidos</h4>
	<div class='item past-trainings'>
  	<div class='icon'>
  		<ion-icon name="briefcase"></ion-icon><br>
  		<span>
  			02/04/19
  		</span>
  	</div>
  	<span class="vertical-hr"></span>
  	<div class='content'>
			<strong>Treinamento teste</strong>
    	<br><span>Aprenda os procedimentos para utilizar um...</span>
  	</div>
  </div>
 	<hr>
 	<div class='item past-trainings'>
  	<div class='icon'>
  		<ion-icon name="briefcase"></ion-icon><br>
  		<span>
  			02/04/19
  		</span>
  	</div>
  	<span class="vertical-hr"></span>
  	<div class='content'>
			<strong>Treinamento teste</strong>
    	<br><span>Aprenda os procedimentos para utilizar um...</span>
  	</div>
  </div>
  <hr>
  <div class='item past-trainings'>
  	<div class='icon'>
  		<ion-icon name="briefcase"></ion-icon><br>
  		<span>
  			02/04/19
  		</span>
  	</div>
  	<span class="vertical-hr"></span>
  	<div class='content'>
			<strong>Treinamento teste</strong>
    	<br><span>Aprenda os procedimentos para utilizar um...</span>
  	</div>
  </div>
</ion-content>
